[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/config/Desktop/minecraft-launcher.desktop]
row=3
col=0

[/config/Desktop/BlobeVM.txt]
row=0
col=1

[/config/Desktop/steam.desktop]
row=2
col=0

[/config/Desktop/google-chrome.desktop]
row=4
col=0

[/]
row=0
col=0

[/config]
row=1
col=0

